#fortnite{
    background-image: url("../images/fornais.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#rogue{
    background-image: url("../images/rogue.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#imagen-slider{
    width: 500px;
    height:450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.image{
    width: 200px;
    height: 75px;
    background-color: #6C757D;
    justify-self: auto;
}
.header-div{
    margin: 0px;
    padding: 20px 20px;
}
.div-separar{
    display: flex;
    flex-direction: row;
}
.slide{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: auto;
    margin: auto 0px;
}
.slide-image{
    width: 0px;
    height: auto;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-size: cover;
}
.content-center{
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    padding: 10px;
}
.mini{
    background: whitesmoke;
    width: 50px;
    height: 60px;
    border-radius: 3px;
}
.texto-centro{
    font-family: 'Open Sans', sans-serif;
    font-size: 12.5px;
    color: #F5F5F5;
    align-self: center;
    margin: 0px 0px 0px 5px;
    justify-self: auto;
}
.red{
    border-top-right-radius: 10px;
}
.smokey{
    border-bottom-right-radius: 10px;
}
.image:hover{
    background-color: #4c4c4c;
}
#buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: auto;
    flex-direction: column;
    margin: 0px 0px;
}