.voltearCarta {
    width: 18rem;
    height: auto;
    margin: 32px auto;
    float: left;
}

.voltearCarta>.frente {
    position: relative;
    transform: perspective(600px) rotateY(0deg);
    width: 18rem;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}

.voltearCarta>.detrás {
    position: relative;
    transform: perspective(600px) rotateY(180deg);
    background: rgb(166, 253, 232);
    width: 18rem;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: transform .5s linear 0s;
}


.voltearCarta:hover>.frente {
    transform: perspective(600px) rotateY(-180deg);
}

.voltearCarta:hover>.detrás {
    transform: perspective(600px) rotateY(0deg);
}