body{
    margin: 0 auto;
    background: #121212;
}
#top-div{
    display: flex;
    flex-direction: row;
    background: #2A2A2A ;
    justify-content: space-between;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
}
#top-div a {
    text-decoration: none;
    color:#B7B7B7;
    font-size: 12px;
}
#tienda-div{
    border-bottom: #0078F2 5px solid;
    padding: 20px 20px;
    margin: 0;
}
#logo{
    width: auto;
}
#buttons{
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 500px;
    flex-direction: column;
    margin: auto 0px;
}
#consigue-epicgames{
    color: white;
}
#consigue-epicgames-div{
    background-color: #0078F2;
}
#fortnite{
    background-image: url("../images/fornais.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 70px;
}
#rogue{
    background-image: url("../images/rogue.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#imagen-slider{
    width: 800px;
    height:500px;
}
.image{
    width: 200px;
    height: 100px;
    background-color: #202020;
}
.header-div{
    margin: 0px;
    padding: 20px 20px;
}
.div-separar{
    display: flex;
    flex-direction: row;
}
.slide{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.slide-image{
    width: 800px;
    height: 500px;
    background-image: url("../images/fornais.jfif");
    background-repeat: no-repeat;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-size: cover;
}
.slide-image-rogue{
    width: 800px;
    height: 500px;
    background-image: url("../images/rogue.webp");
    background-repeat: no-repeat;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-size: cover;
}
.content-center{
    display: flex;
    justify-content: left;
    align-content: center;
    flex-direction: row;
    padding: 10px;
}
.mini{
    background: whitesmoke;
    width: 50px;
    height: 60px;
    border-radius: 3px;
}
.texto-centro{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #F5F5F5;
    align-self: center;
    margin: 0px 0px 0px 5px;
}
.red{
    border-top-right-radius: 5px;
}
.smokey{
    border-bottom-right-radius: 5px;
}



.icon{
    font-size: 20px;
}
.primer-div-header div:hover {
    animation-name: bottomBorder;
    animation-duration: 0.15s;
    border-bottom: #0078F2 5px solid;
}
.image:hover{
    background-color: #4c4c4c;
}
@keyframes bottomBorder {
    20%{border-bottom: #0078F2 1px solid;}
    40%{border-bottom: #0078F2 2px solid;}
    60%{border-bottom: #0078F2 3px solid;}
    80%{border-bottom: #0078F2 4px solid;}
    100%{border-bottom: #0078F2 5px solid;}
}